In [59]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import plotly 
import plotly.plotly as py     
import plotly.graph_objs as go  
import cufflinks as cf
import pandas as pd
import folium

flights_data = pd.read_csv('flight_data.csv')
flights_data.sample(3)

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,UNIQUE_CARRIER,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,Unnamed: 42
348565,1,1,9,6,2016-01-09,DL,1284,10397,1039705,30397,...,119.0,1.0,782.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1728037,4,12,29,4,2016-12-29,WN,2880,11292,1129202,30325,...,106.0,1.0,977.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1343288,4,11,3,4,2016-11-03,AA,2337,13930,1393004,30977,...,116.0,1.0,802.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
date = flights_data["FL_DATE"]
planned_departure_time = flights_data["CRS_DEP_TIME"]
actual_departure_time = flights_data["DEP_TIME"]
delay = flights_data["DEP_DELAY"]
departure_airport = flights_data["ORIGIN"]
departure_city = flights_data["ORIGIN_CITY_NAME"]
destination_airport = flights_data["DEST"]
destination_city = flights_data["DEST_CITY_NAME"]
flights_df = pd.DataFrame({"Date": date,
                           "Departure Time (Planned)": planned_departure_time,
                           "Departure Time (Actual)": actual_departure_time,
                           "Delays (in minutes)": delay, 
                           "Departure Airport": departure_airport,
                           "Departure City": departure_city,
                           "Destination Airport": destination_airport,
                           "Destination City": destination_city})
flights_df

,Date,Delays (in minutes),Departure Airport,Departure City,Departure Time (Actual),Departure Time (Planned),Destination Airport,Destination City
0,2016-01-03,-1.0,DEN,"Denver, CO",1524.0,1525,CID,"Cedar Rapids/Iowa City, IA"
1,2016-01-03,44.0,PBI,"West Palm Beach/Palm Beach, FL",744.0,700,DEN,"Denver, CO"
2,2016-01-03,13.0,TTN,"Trenton, NJ",1858.0,1845,RDU,"Raleigh/Durham, NC"
3,2016-01-03,-1.0,RDU,"Raleigh/Durham, NC",2054.0,2055,TTN,"Trenton, NJ"
4,2016-01-03,2.0,TTN,"Trenton, NJ",1252.0,1250,ORD,"Chicago, IL"
5,2016-01-03,19.0,ORD,"Chicago, IL",1519.0,1500,TTN,"Trenton, NJ"
6,2016-01-03,-4.0,TTN,"Trenton, NJ",556.0,600,MCO,"Orlando, FL"
7,2016-01-03,22.0,MCO,"Orlando, FL",957.0,935,TTN,"Trenton, NJ"
8,2016-01-03,-2.0,ATL,"Atlanta, GA",1743.0,1745,MSY,"New Orleans, LA"
9,2016-01-03,3.0,MSY,"New Orleans, LA",1913.0,1910,DEN,"Denver, CO"
10,2016-01-03,16.0,TTN,"Trenton, NJ",1456.0,1440,ATL,"Atlanta, GA"
11,2016-01-03,48.0,PBI,"West Palm Beach/Palm Beach, FL",1148.0,1100,TTN,"Trenton, NJ"
12,2016-01-03,32.0,TTN,"Trenton, NJ",732.0,700,PBI,"West Palm Beach/Palm Beach, FL"
13,2016-01-03,-2.0,IAH,"Houston, TX",1548.0,1550,DEN,"Denver, CO"
14,2016-01-03,0.0,DEN,"Denver, CO",1815.0,1815,MSP,"Minneapolis, MN"
15,2016-01-03,-13.0,MSP,"Minneapolis, MN",2144.0,2157,DEN,"Denver, CO"
16,2016-01-03,-16.0,SFO,"San Francisco, CA",914.0,930,IAH,"Houston, TX"
17,2016-01-03,2.0,IAH,"Houston, TX",617.0,615,SFO,"San Francisco, CA"
18,2016-01-03,-4.0,LAS,"Las Vegas, NV",2311.0,2315,MIA,"Miami, FL"
19,2016-01-03,-8.0,LAS,"Las Vegas, NV",1422.0,1430,IAH,"Houston, TX"
20,2016-01-03,12.0,IAH,"Houston, TX",2047.0,2035,LAS,"Las Vegas, NV"
21,2016-01-03,42.0,ORD,"Chicago, IL",1122.0,1040,LAS,"Las Vegas, NV"
22,2016-01-03,10.0,DEN,"Denver, CO",635.0,625,ORD,"Chicago, IL"
23,2016-01-03,14.0,PHL,"Philadelphia, PA",1439.0,1425,TPA,"Tampa, FL"
24,2016-01-03,7.0,TPA,"Tampa, FL",1807.0,1800,PHL,"Philadelphia, PA"
25,2016-01-03,1.0,PHL,"Philadelphia, PA",2111.0,2110,ATL,"Atlanta, GA"
26,2016-01-03,0.0,ATL,"Atlanta, GA",605.0,605,PHL,"Philadelphia, PA"
27,2016-01-03,9.0,CLT,"Charlotte, NC",1214.0,1205,PHL,"Philadelphia, PA"
28,2016-01-03,-5.0,PHL,"Philadelphia, PA",910.0,915,CLT,"Charlotte, NC"
29,2016-01-03,0.0,DEN,"Denver, CO",1319.0,1319,BIS,"Bismarck/Mandan, ND"
...,...,...,...,...,...,...,...,...
1856031,2016-12-30,-2.0,DTW,"Detroit, MI",1213.0,1215,PBI,"West Palm Beach/Palm Beach, FL"
1856032,2016-12-30,-3.0,PBI,"West Palm Beach/Palm Beach, FL",1608.0,1611,DTW,"Detroit, MI"
1856033,2016-12-30,-4.0,LAX,"Los Angeles, CA",826.0,830,MSP,"Minneapolis, MN"
1856034,2016-12-30,-1.0,ATL,"Atlanta, GA",1024.0,1025,HDN,"Hayden, CO"
1856035,2016-12-30,6.0,HDN,"Hayden, CO",1256.0,1250,ATL,"Atlanta, GA"
1856036,2016-12-30,-4.0,GRR,"Grand Rapids, MI",630.0,634,DTW,"Detroit, MI"
1856037,2016-12-30,-1.0,TPA,"Tampa, FL",650.0,651,MSP,"Minneapolis, MN"
1856038,2016-12-30,0.0,ATL,"Atlanta, GA",1244.0,1244,HSV,"Huntsville, AL"
1856039,2016-12-30,0.0,HSV,"Huntsville, AL",1316.0,1316,ATL,"Atlanta, GA"
1856040,2016-12-30,45.0,ATL,"Atlanta, GA",2200.0,2115,TPA,"Tampa, FL"
1856041,2016-12-30,-2.0,DTW,"Detroit, MI",1528.0,1530,PHX,"Phoenix, AZ"
1856042,2016-12-30,-7.0,LGA,"New York, NY",823.0,830,MSY,"New Orleans, LA"
1856043,2016-12-30,1.0,ATL,"Atlanta, GA",2236.0,2235,BHM,"Birmingham, AL"
1856044,2016-12-30,11.0,ATL,"Atlanta, GA",1936.0,1925,BWI,"Baltimore, MD"
1856045,2016-12-30,69.0,ATL,"Atlanta, GA",944.0,835,BWI,"Baltimore, MD"
1856046,2016-12-30,71.0,BWI,"Baltimore, MD",1211.0,1100,ATL,"Atlanta, GA"
1856047,2016-12-30,23.0,ATL,"Atlanta, GA",1013.0,950,FLL,"Fort Lauderdale, FL"
1856048,2016-12-30,28.0,FLL,"Fort Lauderdale, FL",1313.0,1245,ATL,"Atlanta, GA"
1856049,2016-12-30,-1.0,MSY,"New Orleans, LA",814.0,815,ATL,"Atlanta, GA"
1856050,2016-12-30,-4.0,MCO,"Orlando, FL",1516.0,1520,LGA,"New York, NY"
1856051,2016-12-30,-1.0,MSP,"Minneapolis, MN",1424.0,1425,SLC,"Salt Lake City, UT"
1856052,2016-12-30,-5.0,MDW,"Chicago, IL",555.0,600,ATL,"Atlanta, GA"
1856053,2016-12-30,16.0,MCO,"Orlando, FL",846.0,830,ATL,"Atlanta, GA"
1856054,2016-12-30,18.0,ALB,"Albany, NY",1726.0,1708,ATL,"Atlanta, GA"
1856055,2016-12-30,-1.0,ATL,"Atlanta, GA",1409.0,1410,ALB,"Albany, NY"
1856056,2016-12-30,0.0,FLL,"Fort Lauderdale, FL",525.0,525,ATL,"Atlanta, GA"
1856057,2016-12-30,-1.0,ATL,"Atlanta, GA",1341.0,1342,MKE,"Milwaukee, WI"
1856058,2016-12-30,3.0,MKE,"Milwaukee, WI",1531.0,1528,ATL,"Atlanta, GA"
1856059,2016-12-30,2.0,ATL,"Atlanta, GA",1117.0,1115,RSW,"Fort Myers, FL"
1856060,2016-12-30,3.0,RSW,"Fort Myers, FL",1348.0,1345,ATL,"Atlanta, GA"

In [3]:
flights_departures_series = flights_data["DEP_DELAY"].value_counts()
flights_departures_series
delays = flights_data[flights_data["DEP_DELAY"] > 0]
delays.count() # 663,054 delays
departure_series = delays["ORIGIN_CITY_NAME"].value_counts() # Chicago has the most delays at 47,049 delays
destination_series = delays["DEST_CITY_NAME"].value_counts() # Atlanta receives the most delays at 39,434 and Chicago in 2nd at 38,121 delays

flight_delays_df = pd.DataFrame({"Number of Departure Delays": departure_series})
flight_delays_df["Location"] = flight_delays_df.index
flight_delays_df

                         Number of Departure Delays                 Location
Chicago, IL                                   47049              Chicago, IL
Atlanta, GA                                   43494              Atlanta, GA
Los Angeles, CA                               33165          Los Angeles, CA
Denver, CO                                    28894               Denver, CO
Houston, TX                                   24027              Houston, TX
New York, NY                                  23826             New York, NY
San Francisco, CA                             23750        San Francisco, CA
Dallas/Fort Worth, TX                         23068    Dallas/Fort Worth, TX
Las Vegas, NV                                 20516            Las Vegas, NV
Phoenix, AZ                                   19498              Phoenix, AZ
Newark, NJ                                    17130               Newark, NJ
Seattle, WA                                   15537              Seattle, WA
Orlando, FL                                   15394              Orlando, FL
Boston, MA                                    14074               Boston, MA
Minneapolis, MN                               13465          Minneapolis, MN
Detroit, MI                                   12763              Detroit, MI
Charlotte, NC                                 12470            Charlotte, NC
Baltimore, MD                                 12421            Baltimore, MD
Fort Lauderdale, FL                           11676      Fort Lauderdale, FL
Washington, DC                                11172           Washington, DC
Dallas, TX                                    11128               Dallas, TX
Salt Lake City, UT                            10893       Salt Lake City, UT
Miami, FL                                      9871                Miami, FL
San Diego, CA                                  9452            San Diego, CA
Philadelphia, PA                               7717         Philadelphia, PA
St. Louis, MO                                  7526            St. Louis, MO
Oakland, CA                                    7345              Oakland, CA
Tampa, FL                                      7298                Tampa, FL
Portland, OR                                   6467             Portland, OR
Nashville, TN                                  6067            Nashville, TN
...                                             ...                      ...
International Falls, MN                          45  International Falls, MN
Roswell, NM                                      44              Roswell, NM
Brainerd, MN                                     44             Brainerd, MN
Santa Maria, CA                                  44          Santa Maria, CA
North Bend/Coos Bay, OR                          44  North Bend/Coos Bay, OR
Deadhorse, AK                                    42            Deadhorse, AK
Grand Island, NE                                 40         Grand Island, NE
Martha's Vineyard, MA                            36    Martha's Vineyard, MA
Elko, NV                                         35                 Elko, NV
Gunnison, CO                                     35             Gunnison, CO
Cordova, AK                                      35              Cordova, AK
Lewiston, ID                                     34             Lewiston, ID
Yakutat, AK                                      33              Yakutat, AK
Devils Lake, ND                                  33          Devils Lake, ND
Abilene, TX                                      32              Abilene, TX
Tyler, TX                                        30                Tyler, TX
Kodiak, AK                                       29               Kodiak, AK
West Yellowstone, MT                             29     West Yellowstone, MT
Punta Gorda, FL                                  23          Punta Gorda, FL
Rock Springs, WY                                 23         Rock Springs, WY
Adak Island, AK                                  19          Adak Island, AK
Mammoth Lakes, CA                                18        Mammoth Lakes, CA
Pago Pago, TT                                    12            Pago Pago, TT
St. Augustine, FL                                11        St. Augustine, FL
Joplin, MO                                       11               Joplin, MO
Hyannis, MA                                      10              Hyannis, MA
Dillingham, AK                                    7           Dillingham, AK
Gustavus, AK                                      5             Gustavus, AK
King Salmon, AK                                   2          King Salmon, AK
Wendover, UT                                      1             Wendover, UT

[305 rows x 2 columns]

In [61]:
chicago_delays_df = flights_df[(flights_df["Departure City"] == "Chicago, IL") & (flights_df["Delays (in minutes)"] > 0)]
#chicago_delays_df
chicago_delays_sorted_df = chicago_delays_df.sort_values(["Date", "Departure Time (Actual)"], ascending = True)
chicago_delays_sorted_df

,Date,Delays (in minutes),Departure Airport,Departure City,Departure Time (Actual),Departure Time (Planned),Destination Airport,Destination City
110125,2016-01-01,7.0,ORD,"Chicago, IL",507.0,500,EWR,"Newark, NJ"
110230,2016-01-01,17.0,ORD,"Chicago, IL",521.0,504,IAH,"Houston, TX"
110087,2016-01-01,13.0,ORD,"Chicago, IL",543.0,530,DEN,"Denver, CO"
15703,2016-01-01,15.0,ORD,"Chicago, IL",545.0,530,FLL,"Fort Lauderdale, FL"
222872,2016-01-01,15.0,ORD,"Chicago, IL",545.0,530,DTW,"Detroit, MI"
219436,2016-01-01,13.0,ORD,"Chicago, IL",558.0,545,ATL,"Atlanta, GA"
110078,2016-01-01,6.0,ORD,"Chicago, IL",607.0,601,LAX,"Los Angeles, CA"
108341,2016-01-01,16.0,ORD,"Chicago, IL",709.0,653,SFO,"San Francisco, CA"
406968,2016-01-01,29.0,ORD,"Chicago, IL",727.0,658,RIC,"Richmond, VA"
228115,2016-01-01,1.0,MDW,"Chicago, IL",731.0,730,MCO,"Orlando, FL"
72120,2016-01-01,1.0,ORD,"Chicago, IL",734.0,733,FWA,"Fort Wayne, IN"
107724,2016-01-01,6.0,ORD,"Chicago, IL",738.0,732,MCO,"Orlando, FL"
420763,2016-01-01,10.0,ORD,"Chicago, IL",750.0,740,GRR,"Grand Rapids, MI"
109914,2016-01-01,1.0,ORD,"Chicago, IL",752.0,751,SFO,"San Francisco, CA"
412655,2016-01-01,21.0,ORD,"Chicago, IL",753.0,732,ORF,"Norfolk, VA"
110047,2016-01-01,7.0,ORD,"Chicago, IL",755.0,748,RSW,"Fort Myers, FL"
356560,2016-01-01,1.0,ORD,"Chicago, IL",801.0,800,SEA,"Seattle, WA"
443594,2016-01-01,7.0,ORD,"Chicago, IL",802.0,755,SFO,"San Francisco, CA"
416748,2016-01-01,56.0,ORD,"Chicago, IL",806.0,710,SYR,"Syracuse, NY"
17059,2016-01-01,9.0,ORD,"Chicago, IL",809.0,800,LAS,"Las Vegas, NV"
108140,2016-01-01,39.0,ORD,"Chicago, IL",809.0,730,SRQ,"Sarasota/Bradenton, FL"
110054,2016-01-01,11.0,ORD,"Chicago, IL",811.0,800,LGA,"New York, NY"
143565,2016-01-01,191.0,ORD,"Chicago, IL",811.0,500,DFW,"Dallas/Fort Worth, TX"
143708,2016-01-01,98.0,ORD,"Chicago, IL",818.0,640,DFW,"Dallas/Fort Worth, TX"
415728,2016-01-01,24.0,ORD,"Chicago, IL",818.0,754,CVG,"Cincinnati, OH"
408670,2016-01-01,56.0,ORD,"Chicago, IL",831.0,735,BUF,"Buffalo, NY"
228087,2016-01-01,12.0,MDW,"Chicago, IL",832.0,820,HOU,"Houston, TX"
443580,2016-01-01,15.0,ORD,"Chicago, IL",840.0,825,PHX,"Phoenix, AZ"
122260,2016-01-01,1.0,ORD,"Chicago, IL",841.0,840,SJU,"San Juan, PR"
228139,2016-01-01,1.0,MDW,"Chicago, IL",846.0,845,ONT,"Ontario, CA"
...,...,...,...,...,...,...,...,...
1542752,2016-12-31,4.0,ORD,"Chicago, IL",1839.0,1835,BOS,"Boston, MA"
1739752,2016-12-31,11.0,MDW,"Chicago, IL",1841.0,1830,SAN,"San Diego, CA"
1461385,2016-12-31,66.0,ORD,"Chicago, IL",1842.0,1736,BTV,"Burlington, VT"
1462929,2016-12-31,55.0,ORD,"Chicago, IL",1842.0,1747,ALB,"Albany, NY"
1739645,2016-12-31,23.0,MDW,"Chicago, IL",1843.0,1820,DAL,"Dallas, TX"
1461275,2016-12-31,1.0,ORD,"Chicago, IL",1846.0,1845,BDL,"Hartford, CT"
1739672,2016-12-31,26.0,MDW,"Chicago, IL",1846.0,1820,HOU,"Houston, TX"
1739608,2016-12-31,7.0,MDW,"Chicago, IL",1847.0,1840,ABQ,"Albuquerque, NM"
1574421,2016-12-31,4.0,ORD,"Chicago, IL",1849.0,1845,PBI,"West Palm Beach/Palm Beach, FL"
1739758,2016-12-31,3.0,MDW,"Chicago, IL",1853.0,1850,SEA,"Seattle, WA"
1461053,2016-12-31,10.0,ORD,"Chicago, IL",1855.0,1845,LAX,"Los Angeles, CA"
1542782,2016-12-31,17.0,ORD,"Chicago, IL",1902.0,1845,STL,"St. Louis, MO"
1521511,2016-12-31,20.0,ORD,"Chicago, IL",1910.0,1850,PHX,"Phoenix, AZ"
1459637,2016-12-31,6.0,ORD,"Chicago, IL",1921.0,1915,SFO,"San Francisco, CA"
1461640,2016-12-31,2.0,ORD,"Chicago, IL",1922.0,1920,LGA,"New York, NY"
1459396,2016-12-31,16.0,ORD,"Chicago, IL",1931.0,1915,IAH,"Houston, TX"
1459556,2016-12-31,1.0,ORD,"Chicago, IL",1941.0,1940,PHX,"Phoenix, AZ"
1461427,2016-12-31,17.0,ORD,"Chicago, IL",1946.0,1929,LAX,"Los Angeles, CA"
1459093,2016-12-31,37.0,ORD,"Chicago, IL",1947.0,1910,MKE,"Milwaukee, WI"
1739643,2016-12-31,4.0,MDW,"Chicago, IL",1949.0,1945,DAL,"Dallas, TX"
1459711,2016-12-31,26.0,ORD,"Chicago, IL",1951.0,1925,SJU,"San Juan, PR"
1822348,2016-12-31,141.0,ORD,"Chicago, IL",2011.0,1750,GSO,"Greensboro/High Point, NC"
1739655,2016-12-31,46.0,MDW,"Chicago, IL",2031.0,1945,DEN,"Denver, CO"
1739766,2016-12-31,3.0,MDW,"Chicago, IL",2038.0,2035,STL,"St. Louis, MO"
1739724,2016-12-31,1.0,MDW,"Chicago, IL",2111.0,2110,ORF,"Norfolk, VA"
1739704,2016-12-31,7.0,MDW,"Chicago, IL",2112.0,2105,MEM,"Memphis, TN"
1739709,2016-12-31,1.0,MDW,"Chicago, IL",2116.0,2115,MSP,"Minneapolis, MN"
1739638,2016-12-31,35.0,MDW,"Chicago, IL",2130.0,2055,CLT,"Charlotte, NC"
1459750,2016-12-31,9.0,ORD,"Chicago, IL",2249.0,2240,SJU,"San Juan, PR"
1406520,2016-12-31,143.0,ORD,"Chicago, IL",2258.0,2035,DFW,"Dallas/Fort Worth, TX"

In [63]:
chicago_weather_2016 = pd.read_csv('chicago_weather_2016.csv')
chicago_weather_2016.sample(3)

,Date,Temp high,Temp avg,Temp low,Visibility high,Visibility avg,Visibility low,Wind low,Wind avg,Wind high,Precipitation sum,Events
270,2016-09-11,76,64,51,10,10,10,13,6,17,0,NaN
372,2016-12-16,20,14,7,10,5,0,17,9,21,0.13,"Fog , Snow"
161,NaN,Temp high,Temp avg,Temp low,Visibility high,Visibility avg,Visibility low,Wind low,Wind avg,Wind high,Precipitation sum,Events

In [64]:
chicago_delays_sorted_df

merged_chicago_data = pd.merge(chicago_delays_sorted_df, chicago_weather_2016, how='inner', on=None, left_on="Date", right_on="Date", left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
merged_chicago_data

,Date,Delays (in minutes),Departure Airport,Departure City,Departure Time (Actual),Departure Time (Planned),Destination Airport,Destination City,Temp high,Temp avg,Temp low,Visibility high,Visibility avg,Visibility low,Wind low,Wind avg,Wind high,Precipitation sum,Events
0,2016-01-01,7.0,ORD,"Chicago, IL",507.0,500,EWR,"Newark, NJ",31,25,19,10,10,9,22,14,28,T,Snow
1,2016-01-01,17.0,ORD,"Chicago, IL",521.0,504,IAH,"Houston, TX",31,25,19,10,10,9,22,14,28,T,Snow
2,2016-01-01,13.0,ORD,"Chicago, IL",543.0,530,DEN,"Denver, CO",31,25,19,10,10,9,22,14,28,T,Snow
3,2016-01-01,15.0,ORD,"Chicago, IL",545.0,530,FLL,"Fort Lauderdale, FL",31,25,19,10,10,9,22,14,28,T,Snow
4,2016-01-01,15.0,ORD,"Chicago, IL",545.0,530,DTW,"Detroit, MI",31,25,19,10,10,9,22,14,28,T,Snow
5,2016-01-01,13.0,ORD,"Chicago, IL",558.0,545,ATL,"Atlanta, GA",31,25,19,10,10,9,22,14,28,T,Snow
6,2016-01-01,6.0,ORD,"Chicago, IL",607.0,601,LAX,"Los Angeles, CA",31,25,19,10,10,9,22,14,28,T,Snow
7,2016-01-01,16.0,ORD,"Chicago, IL",709.0,653,SFO,"San Francisco, CA",31,25,19,10,10,9,22,14,28,T,Snow
8,2016-01-01,29.0,ORD,"Chicago, IL",727.0,658,RIC,"Richmond, VA",31,25,19,10,10,9,22,14,28,T,Snow
9,2016-01-01,1.0,MDW,"Chicago, IL",731.0,730,MCO,"Orlando, FL",31,25,19,10,10,9,22,14,28,T,Snow
10,2016-01-01,1.0,ORD,"Chicago, IL",734.0,733,FWA,"Fort Wayne, IN",31,25,19,10,10,9,22,14,28,T,Snow
11,2016-01-01,6.0,ORD,"Chicago, IL",738.0,732,MCO,"Orlando, FL",31,25,19,10,10,9,22,14,28,T,Snow
12,2016-01-01,10.0,ORD,"Chicago, IL",750.0,740,GRR,"Grand Rapids, MI",31,25,19,10,10,9,22,14,28,T,Snow
13,2016-01-01,1.0,ORD,"Chicago, IL",752.0,751,SFO,"San Francisco, CA",31,25,19,10,10,9,22,14,28,T,Snow
14,2016-01-01,21.0,ORD,"Chicago, IL",753.0,732,ORF,"Norfolk, VA",31,25,19,10,10,9,22,14,28,T,Snow
15,2016-01-01,7.0,ORD,"Chicago, IL",755.0,748,RSW,"Fort Myers, FL",31,25,19,10,10,9,22,14,28,T,Snow
16,2016-01-01,1.0,ORD,"Chicago, IL",801.0,800,SEA,"Seattle, WA",31,25,19,10,10,9,22,14,28,T,Snow
17,2016-01-01,7.0,ORD,"Chicago, IL",802.0,755,SFO,"San Francisco, CA",31,25,19,10,10,9,22,14,28,T,Snow
18,2016-01-01,56.0,ORD,"Chicago, IL",806.0,710,SYR,"Syracuse, NY",31,25,19,10,10,9,22,14,28,T,Snow
19,2016-01-01,9.0,ORD,"Chicago, IL",809.0,800,LAS,"Las Vegas, NV",31,25,19,10,10,9,22,14,28,T,Snow
20,2016-01-01,39.0,ORD,"Chicago, IL",809.0,730,SRQ,"Sarasota/Bradenton, FL",31,25,19,10,10,9,22,14,28,T,Snow
21,2016-01-01,11.0,ORD,"Chicago, IL",811.0,800,LGA,"New York, NY",31,25,19,10,10,9,22,14,28,T,Snow
22,2016-01-01,191.0,ORD,"Chicago, IL",811.0,500,DFW,"Dallas/Fort Worth, TX",31,25,19,10,10,9,22,14,28,T,Snow
23,2016-01-01,98.0,ORD,"Chicago, IL",818.0,640,DFW,"Dallas/Fort Worth, TX",31,25,19,10,10,9,22,14,28,T,Snow
24,2016-01-01,24.0,ORD,"Chicago, IL",818.0,754,CVG,"Cincinnati, OH",31,25,19,10,10,9,22,14,28,T,Snow
25,2016-01-01,56.0,ORD,"Chicago, IL",831.0,735,BUF,"Buffalo, NY",31,25,19,10,10,9,22,14,28,T,Snow
26,2016-01-01,12.0,MDW,"Chicago, IL",832.0,820,HOU,"Houston, TX",31,25,19,10,10,9,22,14,28,T,Snow
27,2016-01-01,15.0,ORD,"Chicago, IL",840.0,825,PHX,"Phoenix, AZ",31,25,19,10,10,9,22,14,28,T,Snow
28,2016-01-01,1.0,ORD,"Chicago, IL",841.0,840,SJU,"San Juan, PR",31,25,19,10,10,9,22,14,28,T,Snow
29,2016-01-01,1.0,MDW,"Chicago, IL",846.0,845,ONT,"Ontario, CA",31,25,19,10,10,9,22,14,28,T,Snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47019,2016-12-31,4.0,ORD,"Chicago, IL",1839.0,1835,BOS,"Boston, MA",40,32,23,10,10,10,25,13,36,0,NaN
47020,2016-12-31,11.0,MDW,"Chicago, IL",1841.0,1830,SAN,"San Diego, CA",40,32,23,10,10,10,25,13,36,0,NaN
47021,2016-12-31,66.0,ORD,"Chicago, IL",1842.0,1736,BTV,"Burlington, VT",40,32,23,10,10,10,25,13,36,0,NaN
47022,2016-12-31,55.0,ORD,"Chicago, IL",1842.0,1747,ALB,"Albany, NY",40,32,23,10,10,10,25,13,36,0,NaN
47023,2016-12-31,23.0,MDW,"Chicago, IL",1843.0,1820,DAL,"Dallas, TX",40,32,23,10,10,10,25,13,36,0,NaN
47024,2016-12-31,1.0,ORD,"Chicago, IL",1846.0,1845,BDL,"Hartford, CT",40,32,23,10,10,10,25,13,36,0,NaN
47025,2016-12-31,26.0,MDW,"Chicago, IL",1846.0,1820,HOU,"Houston, TX",40,32,23,10,10,10,25,13,36,0,NaN
47026,2016-12-31,7.0,MDW,"Chicago, IL",1847.0,1840,ABQ,"Albuquerque, NM",40,32,23,10,10,10,25,13,36,0,NaN
47027,2016-12-31,4.0,ORD,"Chicago, IL",1849.0,1845,PBI,"West Palm Beach/Palm Beach, FL",40,32,23,10,10,10,25,13,36,0,NaN
47028,2016-12-31,3.0,MDW,"Chicago, IL",1853.0,1850,SEA,"Seattle, WA",40,32,23,10,10,10,25,13,36,0,NaN
47029,2016-12-31,10.0,ORD,"Chicago, IL",1855.0,1845,LAX,"Los Angeles, CA",40,32,23,10,10,10,25,13,36,0,NaN
47030,2016-12-31,17.0,ORD,"Chicago, IL",1902.0,1845,STL,"St. Louis, MO",40,32,23,10,10,10,25,13,36,0,NaN
47031,2016-12-31,20.0,ORD,"Chicago, IL",1910.0,1850,PHX,"Phoenix, AZ",40,32,23,10,10,10,25,13,36,0,NaN
47032,2016-12-31,6.0,ORD,"Chicago, IL",1921.0,1915,SFO,"San Francisco, CA",40,32,23,10,10,10,25,13,36,0,NaN
47033,2016-12-31,2.0,ORD,"Chicago, IL",1922.0,1920,LGA,"New York, NY",40,32,23,10,10,10,25,13,36,0,NaN
47034,2016-12-31,16.0,ORD,"Chicago, IL",1931.0,1915,IAH,"Houston, TX",40,32,23,10,10,10,25,13,36,0,NaN
47035,2016-12-31,1.0,ORD,"Chicago, IL",1941.0,1940,PHX,"Phoenix, AZ",40,32,23,10,10,10,25,13,36,0,NaN
47036,2016-12-31,17.0,ORD,"Chicago, IL",1946.0,1929,LAX,"Los Angeles, CA",40,32,23,10,10,10,25,13,36,0,NaN
47037,2016-12-31,37.0,ORD,"Chicago, IL",1947.0,1910,MKE,"Milwaukee, WI",40,32,23,10,10,10,25,13,36,0,NaN
47038,2016-12-31,4.0,MDW,"Chicago, IL",1949.0,1945,DAL,"Dallas, TX",40,32,23,10,10,10,25,13,36,0,NaN
47039,2016-12-31,26.0,ORD,"Chicago, IL",1951.0,1925,SJU,"San Juan, PR",40,32,23,10,10,10,25,13,36,0,NaN
47040,2016-12-31,141.0,ORD,"Chicago, IL",2011.0,1750,GSO,"Greensboro/High Point, NC",40,32,23,10,10,10,25,13,36,0,NaN
47041,2016-12-31,46.0,MDW,"Chicago, IL",2031.0,1945,DEN,"Denver, CO",40,32,23,10,10,10,25,13,36,0,NaN
47042,2016-12-31,3.0,MDW,"Chicago, IL",2038.0,2035,STL,"St. Louis, MO",40,32,23,10,10,10,25,13,36,0,NaN
47043,2016-12-31,1.0,MDW,"Chicago, IL",2111.0,2110,ORF,"Norfolk, VA",40,32,23,10,10,10,25,13,36,0,NaN
47044,2016-12-31,7.0,MDW,"Chicago, IL",2112.0,2105,MEM,"Memphis, TN",40,32,23,10,10,10,25,13,36,0,NaN
47045,2016-12-31,1.0,MDW,"Chicago, IL",2116.0,2115,MSP,"Minneapolis, MN",40,32,23,10,10,10,25,13,36,0,NaN
47046,2016-12-31,35.0,MDW,"Chicago, IL",2130.0,2055,CLT,"Charlotte, NC",40,32,23,10,10,10,25,13,36,0,NaN
47047,2016-12-31,9.0,ORD,"Chicago, IL",2249.0,2240,SJU,"San Juan, PR",40,32,23,10,10,10,25,13,36,0,NaN
47048,2016-12-31,143.0,ORD,"Chicago, IL",2258.0,2035,DFW,"Dallas/Fort Worth, TX",40,32,23,10,10,10,25,13,36,0,NaN

In [65]:
merged_chicago_data["Month"] = np.nan
merged_chicago_data["Month"][merged_chicago_data["Date"] <= "2016-01-31"] = "Jan"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-02-01") & 
                             (merged_chicago_data["Date"] <= "2016-02-31")] = "Feb"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-03-01") & 
                             (merged_chicago_data["Date"] <= "2016-03-31")] = "Mar"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-04-01") & 
                             (merged_chicago_data["Date"] <= "2016-04-31")] = "Apr"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-05-01") & 
                             (merged_chicago_data["Date"] <= "2016-05-31")] = "May"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-06-01") & 
                             (merged_chicago_data["Date"] <= "2016-06-31")] = "June"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-07-01") & 
                             (merged_chicago_data["Date"] <= "2016-07-31")] = "July"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-08-01") & 
                             (merged_chicago_data["Date"] <= "2016-08-31")] = "Aug"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-09-01") & 
                             (merged_chicago_data["Date"] <= "2016-09-31")] = "Sept"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-10-01") & 
                             (merged_chicago_data["Date"] <= "2016-10-31")] = "Oct"
merged_chicago_data["Month"][(merged_chicago_data["Date"] >= "2016-11-01") & 
                             (merged_chicago_data["Date"] <= "2016-11-31")] = "Nov"
merged_chicago_data["Month"][merged_chicago_data["Date"] >= "2016-12-01"] = "Dec"
merged_chicago_data
merged_chicago_data["Month"].value_counts()

Aug    14238
Dec    12806
Jan    10873
Nov     9132
Name: Month, dtype: int64

In [66]:
chicago_events = merged_chicago_data["Events"].value_counts()
chicago_events

Snow                   9052
Rain                   6069
Rain , Thunderstorm    5196
Fog , Snow             1427
Rain , Snow             862
Fog , Rain              722
Fog                     719
Thunderstorm            411
Fog , Rain , Snow       320
Name: Events, dtype: int64

In [67]:
chicago_events_df = pd.DataFrame({"Causes of Delays" : chicago_events})
chicago_events_df

                     Causes of Delays
Snow                             9052
Rain                             6069
Rain , Thunderstorm              5196
Fog , Snow                       1427
Rain , Snow                       862
Fog , Rain                        722
Fog                               719
Thunderstorm                      411
Fog , Rain , Snow                 320

In [ ]:
plotly.tools.set_credentials_file(username='kfmunste', api_key='2SsIURhaGEnwTjHZfYtA')

In [91]:
chicago_events_df.iplot(kind = "bar", labels = "Cause of Delays", 
                        values = "Number of Delays", title = "Weather Conditons Causing Delays")

In [75]:
january = merged_chicago_data[merged_chicago_data["Month"] == "Jan"]
august = merged_chicago_data[merged_chicago_data["Month"] == "Aug"]
november = merged_chicago_data[merged_chicago_data["Month"] == "Nov"]
december = merged_chicago_data[merged_chicago_data["Month"] == "Dec"]

In [76]:
january = january["Events"].value_counts()
jan_df = pd.DataFrame({"Weather Events during Delays": january.index, "Counts" : january})
jan_df

                   Counts Weather Events during Delays
Snow                 5017                         Snow
Rain                 1322                         Rain
Rain , Snow           330                  Rain , Snow
Fog , Rain , Snow     320            Fog , Rain , Snow

In [77]:
august = august["Events"].value_counts()
aug_df = pd.DataFrame({"Weather Events during Delays": august.index, "Counts" : august})
aug_df

                     Counts Weather Events during Delays
Rain , Thunderstorm    4303          Rain , Thunderstorm
Rain                   2245                         Rain
Thunderstorm            411                 Thunderstorm

In [78]:
november = november["Events"].value_counts()
nov_df = pd.DataFrame({"Weather Events during Delays": november.index, "Counts" : november})
nov_df

                     Counts Weather Events during Delays
Rain                   2250                         Rain
Rain , Thunderstorm     893          Rain , Thunderstorm
Fog                     483                          Fog
Snow                    282                         Snow

In [79]:
december = december["Events"].value_counts()
dec_df = pd.DataFrame({"Weather Events during Delays": december.index, "Counts" : december})
dec_df

             Counts Weather Events during Delays
Snow           3753                         Snow
Fog , Snow     1427                   Fog , Snow
Fog , Rain      722                   Fog , Rain
Rain , Snow     532                  Rain , Snow
Rain            252                         Rain
Fog             236                          Fog

In [83]:
jan_df.iplot(kind="pie", labels = "Weather Events during Delays", values= "Counts", title = "January")

In [84]:
aug_df.iplot(kind="pie", labels = "Weather Events during Delays", values= "Counts", title = "August")

In [87]:
nov_df.iplot(kind="pie", labels = "Weather Events during Delays", values= "Counts", title = "November")

In [88]:
dec_df.iplot(kind="pie", labels = "Weather Events during Delays", values= "Counts", title = "December")

In [90]:
months = merged_chicago_data["Month"].value_counts()
months_df = pd.DataFrame({"Number of Delays" : months})
months_df
months_df.iplot(kind = "bar", labels = "Months", values = "Number of Delays", title = "Number of Delays by Month")

In [94]:
merged_chicago_data

,Date,Delays (in minutes),Departure Airport,Departure City,Departure Time (Actual),Departure Time (Planned),Destination Airport,Destination City,Temp high,Temp avg,Temp low,Visibility high,Visibility avg,Visibility low,Wind low,Wind avg,Wind high,Precipitation sum,Events,Month
0,2016-01-01,7.0,ORD,"Chicago, IL",507.0,500,EWR,"Newark, NJ",31,25,19,10,10,9,22,14,28,T,Snow,Jan
1,2016-01-01,17.0,ORD,"Chicago, IL",521.0,504,IAH,"Houston, TX",31,25,19,10,10,9,22,14,28,T,Snow,Jan
2,2016-01-01,13.0,ORD,"Chicago, IL",543.0,530,DEN,"Denver, CO",31,25,19,10,10,9,22,14,28,T,Snow,Jan
3,2016-01-01,15.0,ORD,"Chicago, IL",545.0,530,FLL,"Fort Lauderdale, FL",31,25,19,10,10,9,22,14,28,T,Snow,Jan
4,2016-01-01,15.0,ORD,"Chicago, IL",545.0,530,DTW,"Detroit, MI",31,25,19,10,10,9,22,14,28,T,Snow,Jan
5,2016-01-01,13.0,ORD,"Chicago, IL",558.0,545,ATL,"Atlanta, GA",31,25,19,10,10,9,22,14,28,T,Snow,Jan
6,2016-01-01,6.0,ORD,"Chicago, IL",607.0,601,LAX,"Los Angeles, CA",31,25,19,10,10,9,22,14,28,T,Snow,Jan
7,2016-01-01,16.0,ORD,"Chicago, IL",709.0,653,SFO,"San Francisco, CA",31,25,19,10,10,9,22,14,28,T,Snow,Jan
8,2016-01-01,29.0,ORD,"Chicago, IL",727.0,658,RIC,"Richmond, VA",31,25,19,10,10,9,22,14,28,T,Snow,Jan
9,2016-01-01,1.0,MDW,"Chicago, IL",731.0,730,MCO,"Orlando, FL",31,25,19,10,10,9,22,14,28,T,Snow,Jan
10,2016-01-01,1.0,ORD,"Chicago, IL",734.0,733,FWA,"Fort Wayne, IN",31,25,19,10,10,9,22,14,28,T,Snow,Jan
11,2016-01-01,6.0,ORD,"Chicago, IL",738.0,732,MCO,"Orlando, FL",31,25,19,10,10,9,22,14,28,T,Snow,Jan
12,2016-01-01,10.0,ORD,"Chicago, IL",750.0,740,GRR,"Grand Rapids, MI",31,25,19,10,10,9,22,14,28,T,Snow,Jan
13,2016-01-01,1.0,ORD,"Chicago, IL",752.0,751,SFO,"San Francisco, CA",31,25,19,10,10,9,22,14,28,T,Snow,Jan
14,2016-01-01,21.0,ORD,"Chicago, IL",753.0,732,ORF,"Norfolk, VA",31,25,19,10,10,9,22,14,28,T,Snow,Jan
15,2016-01-01,7.0,ORD,"Chicago, IL",755.0,748,RSW,"Fort Myers, FL",31,25,19,10,10,9,22,14,28,T,Snow,Jan
16,2016-01-01,1.0,ORD,"Chicago, IL",801.0,800,SEA,"Seattle, WA",31,25,19,10,10,9,22,14,28,T,Snow,Jan
17,2016-01-01,7.0,ORD,"Chicago, IL",802.0,755,SFO,"San Francisco, CA",31,25,19,10,10,9,22,14,28,T,Snow,Jan
18,2016-01-01,56.0,ORD,"Chicago, IL",806.0,710,SYR,"Syracuse, NY",31,25,19,10,10,9,22,14,28,T,Snow,Jan
19,2016-01-01,9.0,ORD,"Chicago, IL",809.0,800,LAS,"Las Vegas, NV",31,25,19,10,10,9,22,14,28,T,Snow,Jan
20,2016-01-01,39.0,ORD,"Chicago, IL",809.0,730,SRQ,"Sarasota/Bradenton, FL",31,25,19,10,10,9,22,14,28,T,Snow,Jan
21,2016-01-01,11.0,ORD,"Chicago, IL",811.0,800,LGA,"New York, NY",31,25,19,10,10,9,22,14,28,T,Snow,Jan
22,2016-01-01,191.0,ORD,"Chicago, IL",811.0,500,DFW,"Dallas/Fort Worth, TX",31,25,19,10,10,9,22,14,28,T,Snow,Jan
23,2016-01-01,98.0,ORD,"Chicago, IL",818.0,640,DFW,"Dallas/Fort Worth, TX",31,25,19,10,10,9,22,14,28,T,Snow,Jan
24,2016-01-01,24.0,ORD,"Chicago, IL",818.0,754,CVG,"Cincinnati, OH",31,25,19,10,10,9,22,14,28,T,Snow,Jan
25,2016-01-01,56.0,ORD,"Chicago, IL",831.0,735,BUF,"Buffalo, NY",31,25,19,10,10,9,22,14,28,T,Snow,Jan
26,2016-01-01,12.0,MDW,"Chicago, IL",832.0,820,HOU,"Houston, TX",31,25,19,10,10,9,22,14,28,T,Snow,Jan
27,2016-01-01,15.0,ORD,"Chicago, IL",840.0,825,PHX,"Phoenix, AZ",31,25,19,10,10,9,22,14,28,T,Snow,Jan
28,2016-01-01,1.0,ORD,"Chicago, IL",841.0,840,SJU,"San Juan, PR",31,25,19,10,10,9,22,14,28,T,Snow,Jan
29,2016-01-01,1.0,MDW,"Chicago, IL",846.0,845,ONT,"Ontario, CA",31,25,19,10,10,9,22,14,28,T,Snow,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47019,2016-12-31,4.0,ORD,"Chicago, IL",1839.0,1835,BOS,"Boston, MA",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47020,2016-12-31,11.0,MDW,"Chicago, IL",1841.0,1830,SAN,"San Diego, CA",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47021,2016-12-31,66.0,ORD,"Chicago, IL",1842.0,1736,BTV,"Burlington, VT",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47022,2016-12-31,55.0,ORD,"Chicago, IL",1842.0,1747,ALB,"Albany, NY",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47023,2016-12-31,23.0,MDW,"Chicago, IL",1843.0,1820,DAL,"Dallas, TX",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47024,2016-12-31,1.0,ORD,"Chicago, IL",1846.0,1845,BDL,"Hartford, CT",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47025,2016-12-31,26.0,MDW,"Chicago, IL",1846.0,1820,HOU,"Houston, TX",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47026,2016-12-31,7.0,MDW,"Chicago, IL",1847.0,1840,ABQ,"Albuquerque, NM",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47027,2016-12-31,4.0,ORD,"Chicago, IL",1849.0,1845,PBI,"West Palm Beach/Palm Beach, FL",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47028,2016-12-31,3.0,MDW,"Chicago, IL",1853.0,1850,SEA,"Seattle, WA",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47029,2016-12-31,10.0,ORD,"Chicago, IL",1855.0,1845,LAX,"Los Angeles, CA",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47030,2016-12-31,17.0,ORD,"Chicago, IL",1902.0,1845,STL,"St. Louis, MO",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47031,2016-12-31,20.0,ORD,"Chicago, IL",1910.0,1850,PHX,"Phoenix, AZ",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47032,2016-12-31,6.0,ORD,"Chicago, IL",1921.0,1915,SFO,"San Francisco, CA",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47033,2016-12-31,2.0,ORD,"Chicago, IL",1922.0,1920,LGA,"New York, NY",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47034,2016-12-31,16.0,ORD,"Chicago, IL",1931.0,1915,IAH,"Houston, TX",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47035,2016-12-31,1.0,ORD,"Chicago, IL",1941.0,1940,PHX,"Phoenix, AZ",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47036,2016-12-31,17.0,ORD,"Chicago, IL",1946.0,1929,LAX,"Los Angeles, CA",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47037,2016-12-31,37.0,ORD,"Chicago, IL",1947.0,1910,MKE,"Milwaukee, WI",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47038,2016-12-31,4.0,MDW,"Chicago, IL",1949.0,1945,DAL,"Dallas, TX",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47039,2016-12-31,26.0,ORD,"Chicago, IL",1951.0,1925,SJU,"San Juan, PR",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47040,2016-12-31,141.0,ORD,"Chicago, IL",2011.0,1750,GSO,"Greensboro/High Point, NC",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47041,2016-12-31,46.0,MDW,"Chicago, IL",2031.0,1945,DEN,"Denver, CO",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47042,2016-12-31,3.0,MDW,"Chicago, IL",2038.0,2035,STL,"St. Louis, MO",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47043,2016-12-31,1.0,MDW,"Chicago, IL",2111.0,2110,ORF,"Norfolk, VA",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47044,2016-12-31,7.0,MDW,"Chicago, IL",2112.0,2105,MEM,"Memphis, TN",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47045,2016-12-31,1.0,MDW,"Chicago, IL",2116.0,2115,MSP,"Minneapolis, MN",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47046,2016-12-31,35.0,MDW,"Chicago, IL",2130.0,2055,CLT,"Charlotte, NC",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47047,2016-12-31,9.0,ORD,"Chicago, IL",2249.0,2240,SJU,"San Juan, PR",40,32,23,10,10,10,25,13,36,0,NaN,Dec
47048,2016-12-31,143.0,ORD,"Chicago, IL",2258.0,2035,DFW,"Dallas/Fort Worth, TX",40,32,23,10,10,10,25,13,36,0,NaN,Dec

In [95]:
delay_time_sorted_df = merged_chicago_data.sort_values(["Delays (in minutes)"], ascending = True)
delay_time_sorted_df

,Date,Delays (in minutes),Departure Airport,Departure City,Departure Time (Actual),Departure Time (Planned),Destination Airport,Destination City,Temp high,Temp avg,Temp low,Visibility high,Visibility avg,Visibility low,Wind low,Wind avg,Wind high,Precipitation sum,Events,Month
3294,2016-01-09,1.0,MDW,"Chicago, IL",1321.0,1320,BWI,"Baltimore, MD",40,32,23,8,3,0,26,10,32,0.27,"Fog , Rain , Snow",Jan
22428,2016-08-25,1.0,ORD,"Chicago, IL",1041.0,1040,BOS,"Boston, MA",85,76,67,10,10,6,13,6,16,0.09,"Rain , Thunderstorm",Aug
21601,2016-08-23,1.0,ORD,"Chicago, IL",656.0,655,BHM,"Birmingham, AL",81,71,60,10,10,10,20,12,24,0,NaN,Aug
9095,2016-01-24,1.0,ORD,"Chicago, IL",703.0,702,ROC,"Rochester, NY",34,29,24,10,8,6,20,8,24,0,NaN,Jan
5150,2016-01-13,1.0,ORD,"Chicago, IL",1043.0,1042,DAY,"Dayton, OH",25,12,-2,10,10,8,18,9,23,T,Snow,Jan
9093,2016-01-24,1.0,MDW,"Chicago, IL",601.0,600,FLL,"Fort Lauderdale, FL",34,29,24,10,8,6,20,8,24,0,NaN,Jan
44916,2016-12-26,1.0,ORD,"Chicago, IL",1601.0,1600,LGA,"New York, NY",54,41,28,10,7,0,33,19,44,0.23,"Fog , Rain",Dec
26545,2016-11-05,1.0,MDW,"Chicago, IL",801.0,800,LAS,"Las Vegas, NV",68,56,43,10,10,10,14,7,17,0,NaN,Nov
43543,2016-12-22,1.0,ORD,"Chicago, IL",2101.0,2100,BNA,"Nashville, TN",37,31,24,10,10,9,15,9,19,0,NaN,Dec
7442,2016-01-18,1.0,ORD,"Chicago, IL",2156.0,2155,PHX,"Phoenix, AZ",7,2,-4,10,10,10,20,14,26,0,NaN,Jan
25135,2016-11-01,1.0,MDW,"Chicago, IL",836.0,835,LAS,"Las Vegas, NV",75,68,61,10,10,10,21,9,27,T,NaN,Nov
14713,2016-08-09,1.0,MDW,"Chicago, IL",2011.0,2010,LGA,"New York, NY",88,78,67,10,10,10,12,5,15,0,NaN,Aug
2607,2016-01-07,1.0,ORD,"Chicago, IL",911.0,910,MSP,"Minneapolis, MN",41,38,34,10,10,10,13,7,18,0.01,NaN,Jan
38837,2016-12-14,1.0,ORD,"Chicago, IL",1606.0,1605,PDX,"Portland, OR",19,11,3,10,10,7,26,16,35,T,Snow,Dec
11786,2016-08-02,1.0,ORD,"Chicago, IL",1916.0,1915,GSO,"Greensboro/High Point, NC",87,77,67,10,10,9,14,5,17,0,NaN,Aug
37229,2016-12-10,1.0,MDW,"Chicago, IL",841.0,840,PDX,"Portland, OR",23,21,18,10,6,1,14,9,18,0.12,Snow,Dec
14716,2016-08-09,1.0,ORD,"Chicago, IL",2016.0,2015,PHX,"Phoenix, AZ",88,78,67,10,10,10,12,5,15,0,NaN,Aug
32812,2016-11-27,1.0,ORD,"Chicago, IL",826.0,825,LGA,"New York, NY",44,38,32,10,5,2,23,10,29,0.05,Rain,Nov
26538,2016-11-05,1.0,ORD,"Chicago, IL",711.0,710,DFW,"Dallas/Fort Worth, TX",68,56,43,10,10,10,14,7,17,0,NaN,Nov
11797,2016-08-02,1.0,ORD,"Chicago, IL",1926.0,1925,TUL,"Tulsa, OK",87,77,67,10,10,9,14,5,17,0,NaN,Aug
25143,2016-11-01,1.0,ORD,"Chicago, IL",856.0,855,DEN,"Denver, CO",75,68,61,10,10,10,21,9,27,T,NaN,Nov
11799,2016-08-02,1.0,ORD,"Chicago, IL",1927.0,1926,MIA,"Miami, FL",87,77,67,10,10,9,14,5,17,0,NaN,Aug
27603,2016-11-09,1.0,ORD,"Chicago, IL",1701.0,1700,LAX,"Los Angeles, CA",58,50,41,10,10,10,16,8,20,0,NaN,Nov
11801,2016-08-02,1.0,ORD,"Chicago, IL",1931.0,1930,DCA,"Washington, DC",87,77,67,10,10,9,14,5,17,0,NaN,Aug
7451,2016-01-19,1.0,MDW,"Chicago, IL",601.0,600,FLL,"Fort Lauderdale, FL",17,9,0,10,10,10,15,6,18,0,NaN,Jan
32809,2016-11-27,1.0,MDW,"Chicago, IL",801.0,800,LAX,"Los Angeles, CA",44,38,32,10,5,2,23,10,29,0.05,Rain,Nov
44334,2016-12-24,1.0,ORD,"Chicago, IL",1706.0,1705,TUS,"Tucson, AZ",38,36,33,10,6,1,14,5,17,T,NaN,Dec
13011,2016-08-05,1.0,ORD,"Chicago, IL",1451.0,1450,LAS,"Las Vegas, NV",86,79,72,10,10,10,16,8,22,T,Rain,Aug
28528,2016-11-12,1.0,ORD,"Chicago, IL",601.0,600,LAX,"Los Angeles, CA",52,42,31,10,10,10,15,7,20,0,NaN,Nov
42068,2016-12-19,1.0,ORD,"Chicago, IL",2246.0,2245,DSM,"Des Moines, IA",15,1,-13,10,10,10,20,12,25,0,NaN,Dec
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4054,2016-01-11,795.0,ORD,"Chicago, IL",737.0,1822,TYS,"Knoxville, TN",24,12,-1,10,4,1,26,10,35,0.11,Snow,Jan
43709,2016-12-23,803.0,ORD,"Chicago, IL",1012.0,2049,PHX,"Phoenix, AZ",35,31,27,10,6,2,14,8,17,0.1,"Rain , Snow",Dec
29799,2016-11-16,803.0,ORD,"Chicago, IL",1013.0,2050,AZO,"Kalamazoo, MI",60,50,39,10,8,5,12,5,13,0,NaN,Nov
16382,2016-08-13,806.0,ORD,"Chicago, IL",756.0,1830,RDU,"Raleigh/Durham, NC",84,78,72,10,9,3,20,9,24,T,NaN,Aug
38392,2016-12-13,807.0,ORD,"Chicago, IL",842.0,1915,EVV,"Evansville, IN",22,12,2,10,9,2,17,10,20,T,Snow,Dec
27786,2016-11-10,825.0,ORD,"Chicago, IL",835.0,1850,BWI,"Baltimore, MD",63,52,41,10,10,10,24,13,34,0,NaN,Nov
35491,2016-12-05,830.0,ORD,"Chicago, IL",905.0,1915,TUL,"Tulsa, OK",34,33,31,9,5,3,21,9,25,0,NaN,Dec
4047,2016-01-11,833.0,ORD,"Chicago, IL",727.0,1734,LAX,"Los Angeles, CA",24,12,-1,10,4,1,26,10,35,0.11,Snow,Jan
34931,2016-12-04,846.0,ORD,"Chicago, IL",751.0,1745,GRR,"Grand Rapids, MI",33,30,27,10,4,0,15,4,20,0.5,"Fog , Snow",Dec
34515,2016-12-02,859.0,ORD,"Chicago, IL",844.0,1825,FLL,"Fort Lauderdale, FL",40,37,34,10,10,9,17,9,20,T,NaN,Dec
26719,2016-11-06,861.0,ORD,"Chicago, IL",845.0,1824,TYS,"Knoxville, TN",69,56,42,10,10,5,9,3,12,0,NaN,Nov
36089,2016-12-07,871.0,ORD,"Chicago, IL",856.0,1825,LAX,"Los Angeles, CA",27,25,22,10,10,10,29,16,36,T,Snow,Dec
6554,2016-01-17,875.0,ORD,"Chicago, IL",938.0,1903,DFW,"Dallas/Fort Worth, TX",8,4,-1,10,10,9,24,16,30,0,NaN,Jan
43695,2016-12-23,883.0,ORD,"Chicago, IL",948.0,1905,RDU,"Raleigh/Durham, NC",35,31,27,10,6,2,14,8,17,0.1,"Rain , Snow",Dec
23844,2016-08-29,886.0,ORD,"Chicago, IL",1001.0,1915,MOB,"Mobile, AL",86,78,70,10,8,1,17,5,21,0.43,"Rain , Thunderstorm",Aug
15284,2016-08-11,902.0,ORD,"Chicago, IL",927.0,1825,LAX,"Los Angeles, CA",92,83,73,10,10,9,26,9,33,0,NaN,Aug
43631,2016-12-23,922.0,ORD,"Chicago, IL",722.0,1600,PHX,"Phoenix, AZ",35,31,27,10,6,2,14,8,17,0.1,"Rain , Snow",Dec
39839,2016-12-16,930.0,ORD,"Chicago, IL",1158.0,2028,LAX,"Los Angeles, CA",20,14,7,10,5,0,17,9,21,0.13,"Fog , Snow",Dec
43725,2016-12-23,941.0,ORD,"Chicago, IL",1058.0,1917,MCI,"Kansas City, MO",35,31,27,10,6,2,14,8,17,0.1,"Rain , Snow",Dec
42740,2016-12-21,944.0,ORD,"Chicago, IL",1004.0,1820,DFW,"Dallas/Fort Worth, TX",36,28,19,10,10,9,17,8,21,0,NaN,Dec
26269,2016-11-04,956.0,ORD,"Chicago, IL",1016.0,1820,DFW,"Dallas/Fort Worth, TX",63,52,40,10,10,10,12,4,14,0,NaN,Nov
38748,2016-12-14,962.0,ORD,"Chicago, IL",1222.0,2020,ICT,"Wichita, KS",19,11,3,10,10,7,26,16,35,T,Snow,Dec
23812,2016-08-29,1031.0,ORD,"Chicago, IL",841.0,1530,ATL,"Atlanta, GA",86,78,70,10,8,1,17,5,21,0.43,"Rain , Thunderstorm",Aug
35894,2016-12-06,1054.0,ORD,"Chicago, IL",1014.0,1640,MIA,"Miami, FL",41,33,25,10,4,0,22,10,29,0,Fog,Dec
40222,2016-12-17,1058.0,ORD,"Chicago, IL",228.0,850,DTW,"Detroit, MI",22,20,18,10,5,1,28,10,32,0.12,Snow,Dec
31086,2016-11-20,1060.0,ORD,"Chicago, IL",1122.0,1742,ROC,"Rochester, NY",35,29,23,10,10,10,22,9,26,0,NaN,Nov
23834,2016-08-29,1072.0,ORD,"Chicago, IL",923.0,1531,MSP,"Minneapolis, MN",86,78,70,10,8,1,17,5,21,0.43,"Rain , Thunderstorm",Aug
32803,2016-11-27,1158.0,MDW,"Chicago, IL",738.0,1220,DTW,"Detroit, MI",44,38,32,10,5,2,23,10,29,0.05,Rain,Nov
43794,2016-12-23,1167.0,ORD,"Chicago, IL",1351.0,1824,TYS,"Knoxville, TN",35,31,27,10,6,2,14,8,17,0.1,"Rain , Snow",Dec
40397,2016-12-17,1194.0,MDW,"Chicago, IL",1239.0,1645,DTW,"Detroit, MI",22,20,18,10,5,1,28,10,32,0.12,Snow,Dec

In [96]:
jan_delay_time_sorted_df = delay_time_sorted_df[delay_time_sorted_df["Month"] == "Jan"]
aug_delay_time_sorted_df = delay_time_sorted_df[delay_time_sorted_df["Month"] == "Aug"]
nov_delay_time_sorted_df = delay_time_sorted_df[delay_time_sorted_df["Month"] == "Nov"]
dec_delay_time_sorted_df = delay_time_sorted_df[delay_time_sorted_df["Month"] == "Dec"]

In [97]:
time_of_delays_jan = jan_delay_time_sorted_df["Delays (in minutes)"]
time_of_delays_aug = aug_delay_time_sorted_df["Delays (in minutes)"]
time_of_delays_nov = nov_delay_time_sorted_df["Delays (in minutes)"]
time_of_delays_dec = dec_delay_time_sorted_df["Delays (in minutes)"]

dates_jan = jan_delay_time_sorted_df["Date"]
dates_aug = aug_delay_time_sorted_df["Date"]
dates_nov = nov_delay_time_sorted_df["Date"]
dates_dec = dec_delay_time_sorted_df["Date"]

scatterplot_df = pd.DataFrame({"Date_Jan": dates_jan, 
                               "Date_Aug": dates_aug,
                               "Date_Nov": dates_nov,
                               "Date_Dec": dates_dec,
                               "Delays (in minutes)_jan": time_of_delays_jan,
                               "Delays (in minutes)_aug": time_of_delays_aug,  
                               "Delays (in minutes)_nov": time_of_delays_nov,
                               "Delays (in minutes)_dec": time_of_delays_dec
                              })

scatterplot_df

,Date_Aug,Date_Dec,Date_Jan,Date_Nov,Delays (in minutes)_aug,Delays (in minutes)_dec,Delays (in minutes)_jan,Delays (in minutes)_nov
0,NaN,NaN,2016-01-01,NaN,NaN,NaN,7.0,NaN
1,NaN,NaN,2016-01-01,NaN,NaN,NaN,17.0,NaN
2,NaN,NaN,2016-01-01,NaN,NaN,NaN,13.0,NaN
3,NaN,NaN,2016-01-01,NaN,NaN,NaN,15.0,NaN
4,NaN,NaN,2016-01-01,NaN,NaN,NaN,15.0,NaN
5,NaN,NaN,2016-01-01,NaN,NaN,NaN,13.0,NaN
6,NaN,NaN,2016-01-01,NaN,NaN,NaN,6.0,NaN
7,NaN,NaN,2016-01-01,NaN,NaN,NaN,16.0,NaN
8,NaN,NaN,2016-01-01,NaN,NaN,NaN,29.0,NaN
9,NaN,NaN,2016-01-01,NaN,NaN,NaN,1.0,NaN
10,NaN,NaN,2016-01-01,NaN,NaN,NaN,1.0,NaN
11,NaN,NaN,2016-01-01,NaN,NaN,NaN,6.0,NaN
12,NaN,NaN,2016-01-01,NaN,NaN,NaN,10.0,NaN
13,NaN,NaN,2016-01-01,NaN,NaN,NaN,1.0,NaN
14,NaN,NaN,2016-01-01,NaN,NaN,NaN,21.0,NaN
15,NaN,NaN,2016-01-01,NaN,NaN,NaN,7.0,NaN
16,NaN,NaN,2016-01-01,NaN,NaN,NaN,1.0,NaN
17,NaN,NaN,2016-01-01,NaN,NaN,NaN,7.0,NaN
18,NaN,NaN,2016-01-01,NaN,NaN,NaN,56.0,NaN
19,NaN,NaN,2016-01-01,NaN,NaN,NaN,9.0,NaN
20,NaN,NaN,2016-01-01,NaN,NaN,NaN,39.0,NaN
21,NaN,NaN,2016-01-01,NaN,NaN,NaN,11.0,NaN
22,NaN,NaN,2016-01-01,NaN,NaN,NaN,191.0,NaN
23,NaN,NaN,2016-01-01,NaN,NaN,NaN,98.0,NaN
24,NaN,NaN,2016-01-01,NaN,NaN,NaN,24.0,NaN
25,NaN,NaN,2016-01-01,NaN,NaN,NaN,56.0,NaN
26,NaN,NaN,2016-01-01,NaN,NaN,NaN,12.0,NaN
27,NaN,NaN,2016-01-01,NaN,NaN,NaN,15.0,NaN
28,NaN,NaN,2016-01-01,NaN,NaN,NaN,1.0,NaN
29,NaN,NaN,2016-01-01,NaN,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...
47019,NaN,2016-12-31,NaN,NaN,NaN,4.0,NaN,NaN
47020,NaN,2016-12-31,NaN,NaN,NaN,11.0,NaN,NaN
47021,NaN,2016-12-31,NaN,NaN,NaN,66.0,NaN,NaN
47022,NaN,2016-12-31,NaN,NaN,NaN,55.0,NaN,NaN
47023,NaN,2016-12-31,NaN,NaN,NaN,23.0,NaN,NaN
47024,NaN,2016-12-31,NaN,NaN,NaN,1.0,NaN,NaN
47025,NaN,2016-12-31,NaN,NaN,NaN,26.0,NaN,NaN
47026,NaN,2016-12-31,NaN,NaN,NaN,7.0,NaN,NaN
47027,NaN,2016-12-31,NaN,NaN,NaN,4.0,NaN,NaN
47028,NaN,2016-12-31,NaN,NaN,NaN,3.0,NaN,NaN
47029,NaN,2016-12-31,NaN,NaN,NaN,10.0,NaN,NaN
47030,NaN,2016-12-31,NaN,NaN,NaN,17.0,NaN,NaN
47031,NaN,2016-12-31,NaN,NaN,NaN,20.0,NaN,NaN
47032,NaN,2016-12-31,NaN,NaN,NaN,6.0,NaN,NaN
47033,NaN,2016-12-31,NaN,NaN,NaN,2.0,NaN,NaN
47034,NaN,2016-12-31,NaN,NaN,NaN,16.0,NaN,NaN
47035,NaN,2016-12-31,NaN,NaN,NaN,1.0,NaN,NaN
47036,NaN,2016-12-31,NaN,NaN,NaN,17.0,NaN,NaN
47037,NaN,2016-12-31,NaN,NaN,NaN,37.0,NaN,NaN
47038,NaN,2016-12-31,NaN,NaN,NaN,4.0,NaN,NaN
47039,NaN,2016-12-31,NaN,NaN,NaN,26.0,NaN,NaN
47040,NaN,2016-12-31,NaN,NaN,NaN,141.0,NaN,NaN
47041,NaN,2016-12-31,NaN,NaN,NaN,46.0,NaN,NaN
47042,NaN,2016-12-31,NaN,NaN,NaN,3.0,NaN,NaN
47043,NaN,2016-12-31,NaN,NaN,NaN,1.0,NaN,NaN
47044,NaN,2016-12-31,NaN,NaN,NaN,7.0,NaN,NaN
47045,NaN,2016-12-31,NaN,NaN,NaN,1.0,NaN,NaN
47046,NaN,2016-12-31,NaN,NaN,NaN,35.0,NaN,NaN
47047,NaN,2016-12-31,NaN,NaN,NaN,9.0,NaN,NaN
47048,NaN,2016-12-31,NaN,NaN,NaN,143.0,NaN,NaN

In [99]:
plot_data = [go.Scatter(x=scatterplot_df["Date_Jan"], y=scatterplot_df["Delays (in minutes)_jan"], mode="markers", 
               marker= dict(color = "red")), 
]

                               
py.iplot({ 'data': plot_data,
            'layout': {
               'title': 'Chicago Delays in January',
               'xaxis': {
                 'title': 'Date'},
               'yaxis': {
                'title': 'Length of Delay (in minutes)'}
        }})

The draw time for this plot will be slow for clients without much RAM.

In [56]:
plot_data = [go.Scatter(x=scatterplot_df["Date_Aug"], y=scatterplot_df["Delays (in minutes)_aug"], mode="markers", 
               marker= dict(color = "blue")), 
]

                               
py.iplot({ 'data': plot_data,
            'layout': {
               'title': 'Chicago Delays in August',
               'xaxis': {
                 'title': 'Date'},
               'yaxis': {
                'title': 'Length of Delay (in minutes)'}
        }})

The draw time for this plot will be slow for clients without much RAM.

In [57]:
plot_data = [go.Scatter(x=scatterplot_df["Date_Nov"], y=scatterplot_df["Delays (in minutes)_nov"], mode="markers", 
               marker= dict(color = "green")), 
]

                               
py.iplot({ 'data': plot_data,
            'layout': {
               'title': 'Chicago Delays in November',
               'xaxis': {
                 'title': 'Date'},
               'yaxis': {
                'title': 'Length of Delay (in minutes)'}
        }})

The draw time for this plot will be slow for clients without much RAM.

In [58]:
plot_data = [go.Scatter(x=scatterplot_df["Date_Dec"], y=scatterplot_df["Delays (in minutes)_dec"], mode="markers", 
               marker= dict(color = "purple")), 
]

                               
py.iplot({ 'data': plot_data,
            'layout': {
               'title': 'Chicago Delays in December',
               'xaxis': {
                 'title': 'Date'},
               'yaxis': {
                'title': 'Length of Delay (in minutes)'}
        }})

The draw time for this plot will be slow for clients without much RAM.